<header id="main-header" class="py-2 bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>
                    <i class="fas fa-money"></i> {{ subTitle }}
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="jumbotron mt-3 p-5">
    <h1 class="display-4">Special Offer!</h1>
    <p class="lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo odit, dignissimos nostrum itaque dicta iste assumenda optio voluptas nulla voluptatibus, numquam animi quisquam totam fugit cumque magnam asperiores recusandae atque.
    </p>
    <hr class="my-4">
    <p>Click <a href="credit">here</a> to know more about this special offer we have for you</p>
    <div class="row">
        <div class="col">
            <a class="btn btn-danger btn-lg float-right" href="account" role="button">Later</a>
        </div>
    </div>
</div>